body{
    background-image: url(img/bliss.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#score{
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: red;
}
#newgame{
    margin: auto;
    padding: 1%;
}
#molehole{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    /* border: solid thick red; */
    width: 800px;
    height: 800px;
}
.burrows{
    width: 200px;
    height: 200px;
    /* border: solid thick green; */
    cursor: grabbing;
}
#whack-button{
    cursor: grabbing;
    display: flex;
    padding: 2%;
    justify-content: center;
    margin: auto;
}